*{

margin:0;

padding:0;

box-sizing:border-box;

}

body{

font-family:Arial,Helvetica,sans-serif;

background:#202124;

color:white;

}

.app{

height:100vh;

display:flex;

flex-direction:column;

}

.topbar{

height:60px;

display:flex;

align-items:center;

padding-left:20px;

background:#2d2f34;

border-bottom:1px solid #444;

}

main{

flex:1;

padding:20px;

}